/* e-Ukraine Font Family */
@font-face {
  font-family: 'e-Ukraine';
  src: url('./e-Ukraine-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'e-Ukraine';
  src: url('./e-Ukraine-Medium.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'e-Ukraine';
  src: url('./e-Ukraine-Bold.otf') format('opentype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'e-Ukraine';
  src: url('./e-Ukraine-Bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

/* e-Ukraine Head Font Family */
@font-face {
  font-family: 'e-Ukraine Head';
  src: url('./e-UkraineHead-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'e-Ukraine Head';
  src: url('./e-UkraineHead-Bold.otf') format('opentype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'e-Ukraine Head';
  src: url('./e-UkraineHead-Bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}