html.dark {
  background-color: rgb(15, 23, 42);
}

/* Кримськотатарський стиль кольорів з оригінальної гри */
:root {
  --color-correct: #99ceef; /* Блакитний для правильних літер */
  --color-present: #ff8c00; /* Помаранчевий для правильних літер не на місці */
  --color-absent: #85787b; /* Сірий для відсутніх літер */
}

.key-absent {
  background-color: var(--color-absent) !important;
}

.key-correct {
  background-color: var(--color-correct) !important;
}

.key-present {
  background-color: var(--color-present) !important;
}

.cell-absent {
  background-color: var(--color-absent) !important;
  border-color: var(--color-absent) !important;
}

.cell-correct {
  background-color: var(--color-correct) !important;
  border-color: var(--color-correct) !important;
}

.cell-present {
  background-color: var(--color-present) !important;
  border-color: var(--color-present) !important;
}
